<!-- start page title -->
<app-pagetitle title="Gallery" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<!-- end page title -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center">
                <h4 class="card-title">Gallery Photos</h4>
                <a href="javascript:void(0);" class="btn btn-sm btn-soft-secondary">Docs <i
                        class="mdi mdi-arrow-right align-middle"></i></a>
            </div><!-- end card header -->
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <ul class="list-inline categories-filter button-group" id="filter">
                                <li class="list-inline-item" (click)="activeCategory('all')"><a
                                        class="categories active" [ngClass]="{'active': galleryFilter === 'all'}"
                                        data-filter="*">All</a></li>
                                <li class="list-inline-item" (click)="activeCategory('project')"><a class="categories"
                                        [ngClass]="{'active': galleryFilter === 'project'}"
                                        data-filter=".project">Project</a></li>
                                <li class="list-inline-item" (click)="activeCategory('designing')"><a class="categories"
                                        [ngClass]="{'active': galleryFilter === 'designing'}"
                                        data-filter=".designing">Designing</a></li>
                                <li class="list-inline-item" (click)="activeCategory('photography')"><a
                                        class="categories" [ngClass]="{'active': galleryFilter === 'photography'}"
                                        data-filter=".photography">Photography</a></li>
                                <li class="list-inline-item" (click)="activeCategory('development')"><a
                                        class="categories" data-filter=".development"
                                        [ngClass]="{'active': galleryFilter === 'development'}">Development</a></li>
                            </ul>
                        </div>

                        <div class="row gallery-wrapper">
                            <div class="element-item col-xl-4 col-sm-6 photography" data-category="photography"
                                *ngFor="let data of projectGrid; let i = index">
                                <div class="gallery-box card">
                                    <div class="gallery-container">
                                        <a class="image-popup" href="javascript:void(0);" title="" (click)="openImage(i)"> 
                                            <img class="gallery-img img-fluid mx-auto" src="{{data.image}}" alt="" />
                                            <div class="gallery-overlay"></div>
                                        </a>
                                    </div>

                                    <div class="box-content p-3">
                                        <h5 class="title">{{data.type}}</h5>
                                        <p class="post">by <a href="javascript:void(0);"
                                                class="text-body">{{data.name}}</a></p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- end row -->
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- ene card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->