<!-- start page title -->
<app-pagetitle title="Rating" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<!-- end page title -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center">
                <h4 class="card-title">Examples</h4>
                <a href="https://ng-bootstrap.github.io/#/components/rating/examples" target="_blank"
                    class="btn btn-sm btn-soft-secondary">Docs <i class="mdi mdi-arrow-right align-middle"></i></a>
            </div><!-- end card header -->
            <div class="card-body">
                <div class="row g-0">
                    <div class="col-sm-6">
                        <div class="p-4 text-center border h-100">
                            <h5 class="font-size-15 mb-4">Basic Rater</h5>
                            <ngb-rating [(rate)]="defaultSelect" [readonly]="readonly" class="stars" [max]=5>
                            </ngb-rating>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="col-sm-6">
                        <div class="p-4 text-center border h-100">
                            <h5 class="font-size-15 mb-4">Rater with Step</h5>
                            <ng-template #t let-fill="fill">
                                <span class="star" [class.full]="fill === 100">
                                    <span class="half" [style.width.%]="fill">★</span>☆
                                </span>
                            </ng-template>
                            <ngb-rating class="d-inline-flex stars align-middle star-rating" [(rate)]="currentRate"
                                [starTemplate]="t" [readonly]="true" [max]="5">
                            </ngb-rating>
                            <button class="btn btn-light btn-sm ms-2" (click)="currentRate = 1.5">1.5</button>
                            <button class="btn btn-light btn-sm ms-2" (click)="currentRate = 4.5">4.5</button>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="col-sm-6">
                        <div class="p-4 text-center border h-100">
                            <h5 class="font-size-15 mb-4">Custom Color</h5>
                            <ngb-rating [(rate)]="customColor">
                                <ng-template let-fill="fill" let-index="index">
                                    <span class="stars star_fill" [class.filled]="fill === 100"
                                        [class.bad]="index < 3">&#9733;</span>
                                </ng-template>
                            </ngb-rating>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="col-sm-6">
                        <div class="p-4 text-center border h-100">
                            <h5 class="font-size-15 mb-4">Example with unlimited number of stars. readOnly option is set
                                to true.</h5>
                            <ngb-rating [rate]="3" [readonly]="true" [max]="16" class="stars"></ngb-rating>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="col-sm-6">
                        <div class="p-4 text-center border h-100">
                            <h5 class="font-size-15 mb-4">On Hover Event</h5>
                            <div dir="ltr">
                                <ngb-rating [(rate)]="hoverSelect" (hover)="hovered=$event" (leave)="hovered=0"
                                    [readonly]="readonly" class="stars" [max]=5></ngb-rating>
                                <span class="ratingnum badge bg-info align-middle ms-2">{{hovered}}</span>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="col-sm-6">
                        <div class="p-4 text-center border h-100">
                            <h5 class="font-size-15 mb-4">Clear/Reset Rater</h5>
                            <div dir="ltr">
                                <ngb-rating [(rate)]="currentRate1" [readonly]="readonly"
                                    class="stars align-middle star-rating" [max]=5></ngb-rating>
                                <button id="raterreset-button" class="btn btn-outline-light btn-sm ms-2"
                                    (click)="currentRate1 = 0">Reset</button>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                </div><!-- end row -->
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->
</div><!-- end row -->