<!-- start page title -->
<app-pagetitle title="Create Project" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<!-- end page title -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body projectForm">
                <aw-wizard [navBarLayout]="'large-empty-symbols'">
                    <aw-wizard-step>
                        <ng-template awWizardStepSymbol>
                            <div class="wizard-list-item">
                                <div class="list-item">
                                    <div class="step-icon" data-bs-toggle="tooltip" data-bs-placement="top"
                                        title="Basic Info">
                                        <i class="uil uil-clipboard-notes"></i>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <div class="row">
                            <div class="text-center mb-4">
                                <h5>Project Information</h5>
                                <p class="card-title-desc">Fill all information below</p>
                            </div>
                            <form>
                                <div class="mb-3">
                                    <label for="projectname" class="form-label">Project Name</label>
                                    <input id="projectname" type="text" class="form-control"
                                        placeholder="Enter Project Name">
                                </div>

                                <div class="mb-3">
                                    <label for="projectdesc" class="form-label">Project Description</label>
                                    <textarea class="form-control" id="projectdesc" rows="3"
                                        placeholder="Enter Project Description..."></textarea>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Project Date</label>
                                    <input class="form-control flatpickr-input" id="datepicker-range" type="text" mwlFlatpickr [altInput]="true"
                                    [convertModelValue]="true" mode="range">
                                </div>
                            </form>
                        </div>
                        <!-- wizard-tab -->
                        <ul class="list-inline wizard mb-0">
                            <li class="next list-inline-item float-end"><button class="btn btn-primary w-sm"
                                    awNextStep>Next</button>
                            </li>
                        </ul>
                    </aw-wizard-step>

                    <aw-wizard-step>
                        <ng-template awWizardStepSymbol>
                            <div class="wizard-list-item">
                                <div class="list-item">
                                    <div class="step-icon" data-bs-toggle="tooltip" data-bs-placement="top"
                                        title="Assignee">
                                        <i class="uil uil-users-alt"></i>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <div class="row">
                            <div class="text-center mb-4">
                                <h5>Assign to</h5>
                                <p class="card-title-desc">Select Members</p>
                            </div>
                            <form>
                                <div>
                                    <div class="mb-3">
                                        <label>Department</label>
                                        <select class="form-select shadow-none">
                                            <option selected>Open this select Department</option>
                                            <option value="Design">Design</option>
                                            <option value="Development">Development</option>
                                        </select>
                                    </div>

                                    <div class="mb-4">
                                        <label>Assign to</label>
                                        <div class="mb-3">
                                            <button class="btn btn-light w-100" type="button" data-bs-toggle="modal"
                                                data-bs-target="#selectmembermodal" (click)="openModal(content)">
                                                Select Members for Project
                                            </button>
                                        </div>

                                        <!-- Modal -->
                                        <ng-template #content role="document" let-modal>
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="selectmembermodalLabel">Select
                                                    Members</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="p-3">\
                                                    <div class="avatar-group align-items-center">
                                                        <div class="me-4">Team :</div>
                                                        <div class="avatar-group-item">
                                                            <a href="javascript: void(0);" class="d-block" ngbTooltip="Janna Johnson" placement="top">
                                                                <img src="assets/images/users/avatar-1.jpg" alt=""
                                                                    class="rounded-circle avatar-sm">
                                                            </a>
                                                        </div>
                                                        <div class="avatar-group-item">
                                                            <a href="javascript: void(0);" class="d-block" ngbTooltip="Heather Ford" placement="top">
                                                                <img src="assets/images/users/avatar-2.jpg" alt=""
                                                                    class="rounded-circle avatar-sm">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="p-3">
                                                    <div class="input-group border rounded">
                                                        <span class="input-group-text bg-transparent border-0 pr-1">
                                                            <i class="uil uil-search"></i>
                                                        </span>
                                                        <input type="text" class="form-control border-0"
                                                            placeholder="Search">

                                                        <button class="btn btn-primary" type="button">Search</button>
                                                    </div>
                                                </div>

                                                <ngx-simplebar style="max-height: 200px;">
                                                    <div>
                                                        <div class="p-3 fw-semibold font-size-12 text-muted">
                                                            A
                                                        </div>

                                                        <ul class="list-group list-group-flush contact-list">
                                                            <li class="list-group-item">
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox"
                                                                        value="" id="memberCheck1" checked>
                                                                    <label class="form-check-label" for="memberCheck1">
                                                                        Albert Rodarte
                                                                    </label>
                                                                </div>
                                                            </li>

                                                            <li class="list-group-item">
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox"
                                                                        value="" id="memberCheck2">
                                                                    <label class="form-check-label" for="memberCheck2">
                                                                        Allison Etter
                                                                    </label>
                                                                </div>
                                                            </li>
                                                        </ul><!-- end ul -->
                                                    </div>

                                                    <div>
                                                        <div class="p-3 fw-semibold font-size-12 text-muted">
                                                            B
                                                        </div>

                                                        <ul class="list-group list-group-flush contact-list">
                                                            <li class="list-group-item">
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox"
                                                                        value="" id="memberCheck3">
                                                                    <label class="form-check-label" for="memberCheck3">
                                                                        Bobby Gaffney
                                                                    </label>
                                                                </div>
                                                            </li>
                                                        </ul><!-- end ul -->
                                                    </div>

                                                    <div>
                                                        <div class="p-3 fw-semibold font-size-12 text-muted">
                                                            C
                                                        </div>

                                                        <ul class="list-group list-group-flush contact-list">
                                                            <li class="list-group-item">
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox"
                                                                        value="" id="memberCheck4" checked>
                                                                    <label class="form-check-label" for="memberCheck4">
                                                                        Charles Willis
                                                                    </label>
                                                                </div>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox"
                                                                        value="" id="memberCheck5" checked>
                                                                    <label class="form-check-label" for="memberCheck5">
                                                                        Christi
                                                                    </label>
                                                                </div>
                                                            </li>
                                                        </ul><!-- end ul -->
                                                    </div>
                                                </ngx-simplebar>
                                                <!-- end simplebar -->
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-light w-sm" data-bs-dismiss="modal"
                                                    (click)="modal.close('Close click')">Close</button>
                                                <button type="button" class="btn btn-primary w-sm">Save</button>
                                            </div>
                                        </ng-template>
                                        <!--End Modal -->
                                    </div>
                                </div>
                            </form>
                        </div>
                        <ul class="list-inline wizard mb-0">
                            <li class="previous list-inline-item"><button class="btn btn-primary"
                                    awPreviousStep>Previous</button>
                            </li>
                            <li class="next list-inline-item float-end"><button class="btn btn-primary w-sm"
                                    awNextStep>Next</button>
                            </li>
                        </ul>
                    </aw-wizard-step>

                    <aw-wizard-step>
                        <ng-template awWizardStepSymbol>
                            <div class="wizard-list-item">
                                <div class="list-item">
                                    <div class="step-icon" data-bs-toggle="tooltip" data-bs-placement="top"
                                        title="Attached Files">
                                        <i class="uil uil-paperclip"></i>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <div class="row justify-content-center">
                            <div class="text-center ">
                                <h5>Attached Files</h5>
                                <p class="card-title-desc">Upload Attached Files</p>
                            </div>
                            <form class="file_upload mb-4">
                                <dropzone class="dropzone"></dropzone>
                            </form>
                        </div>
                        <ul class="list-inline wizard mb-0">
                            <li class="previous list-inline-item"><button class="btn btn-primary"
                                    awPreviousStep>Previous</button>
                            </li>
                        </ul>
                    </aw-wizard-step>
                </aw-wizard>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->