<!-- start page title -->
<app-pagetitle title="Feather Icons" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center">
                <h4 class="card-title">Feather Icons</h4>
                <a href="https://feathericons.com/" target="_blank" class="btn btn-sm btn-soft-secondary">Docs <i
                        class="mdi mdi-arrow-right align-middle"></i></a>
            </div><!-- end card header -->
            <div class="card-body">
                <div class="row icon-demo-content">
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="activity"></i-feather><span>activity</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="airplay"></i-feather><span>airplay</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="alert-circle"></i-feather><span>alert-circle</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="alert-octagon"></i-feather><span>alert-octagon</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="alert-triangle"></i-feather><span>alert-triangle</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="align-center"></i-feather><span>align-center</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="align-justify"></i-feather><span>align-justify</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="align-left"></i-feather><span>align-left</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="align-right"></i-feather><span>align-right</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="anchor"></i-feather><span>anchor</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="aperture"></i-feather><span>aperture</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="archive"></i-feather><span>archive</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="arrow-down-circle"></i-feather><span>arrow-down-circle</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="arrow-down-left"></i-feather><span>arrow-down-left</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="arrow-down-right"></i-feather><span>arrow-down-right</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="arrow-down"></i-feather><span>arrow-down</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="arrow-left-circle"></i-feather><span>arrow-left-circle</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="arrow-left"></i-feather><span>arrow-left</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="arrow-right-circle"></i-feather><span>arrow-right-circle</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="arrow-right"></i-feather><span>arrow-right</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="arrow-up-circle"></i-feather><span>arrow-up-circle</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="arrow-up-left"></i-feather><span>arrow-up-left</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="arrow-up-right"></i-feather><span>arrow-up-right</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="arrow-up"></i-feather><span>arrow-up</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="at-sign"></i-feather><span>at-sign</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="award"></i-feather><span>award</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="bar-chart-2"></i-feather><span>bar-chart-2</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="bar-chart"></i-feather><span>bar-chart</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="battery-charging"></i-feather><span>battery-charging</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="battery"></i-feather><span>battery</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="bell-off"></i-feather><span>bell-off</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="bell"></i-feather><span>bell</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="bluetooth"></i-feather><span>bluetooth</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="bold"></i-feather><span>bold</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="book-open"></i-feather><span>book-open</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="book"></i-feather><span>book</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="bookmark"></i-feather><span>bookmark</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="box"></i-feather><span>box</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="briefcase"></i-feather><span>briefcase</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="calendar"></i-feather><span>calendar</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="camera-off"></i-feather><span>camera-off</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="camera"></i-feather><span>camera</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="cast"></i-feather><span>cast</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="check-circle"></i-feather><span>check-circle</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="check-square"></i-feather><span>check-square</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="check"></i-feather><span>check</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="chevron-down"></i-feather><span>chevron-down</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="chevron-left"></i-feather><span>chevron-left</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="chevron-right"></i-feather><span>chevron-right</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="chevron-up"></i-feather><span>chevron-up</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="chevrons-down"></i-feather><span>chevrons-down</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="chevrons-left"></i-feather><span>chevrons-left</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="chevrons-right"></i-feather><span>chevrons-right</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="chevrons-up"></i-feather><span>chevrons-up</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="chrome"></i-feather><span>chrome</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="circle"></i-feather><span>circle</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="clipboard"></i-feather><span>clipboard</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="clock"></i-feather><span>clock</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="cloud-drizzle"></i-feather><span>cloud-drizzle</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="cloud-lightning"></i-feather><span>cloud-lightning</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="cloud-off"></i-feather><span>cloud-off</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="cloud-rain"></i-feather><span>cloud-rain</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="cloud-snow"></i-feather><span>cloud-snow</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="cloud"></i-feather><span>cloud</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="code"></i-feather><span>code</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="codepen"></i-feather><span>codepen</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="codesandbox"></i-feather><span>codesandbox</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="coffee"></i-feather><span>coffee</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="columns"></i-feather><span>columns</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="command"></i-feather><span>command</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="compass"></i-feather><span>compass</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="copy"></i-feather><span>copy</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="corner-down-left"></i-feather><span>corner-down-left</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="corner-down-right"></i-feather><span>corner-down-right</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="corner-left-down"></i-feather><span>corner-left-down</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="corner-left-up"></i-feather><span>corner-left-up</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="corner-right-down"></i-feather><span>corner-right-down</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="corner-right-up"></i-feather><span>corner-right-up</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="corner-up-left"></i-feather><span>corner-up-left</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="corner-up-right"></i-feather><span>corner-up-right</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="cpu"></i-feather><span>cpu</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="credit-card"></i-feather><span>credit-card</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="crop"></i-feather><span>crop</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="crosshair"></i-feather><span>crosshair</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="database"></i-feather><span>database</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="delete"></i-feather><span>delete</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="disc"></i-feather><span>disc</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="dollar-sign"></i-feather><span>dollar-sign</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="download-cloud"></i-feather><span>download-cloud</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="download"></i-feather><span>download</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="droplet"></i-feather><span>droplet</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="edit-2"></i-feather><span>edit-2</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="edit-3"></i-feather><span>edit-3</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="edit"></i-feather><span>edit</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="external-link"></i-feather><span>external-link</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="eye-off"></i-feather><span>eye-off</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="eye"></i-feather><span>eye</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="facebook"></i-feather><span>facebook</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="fast-forward"></i-feather><span>fast-forward</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="feather"></i-feather><span>feather</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="figma"></i-feather><span>figma</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="file-minus"></i-feather><span>file-minus</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="file-plus"></i-feather><span>file-plus</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="file-text"></i-feather><span>file-text</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="file"></i-feather><span>file</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="film"></i-feather><span>film</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="filter"></i-feather><span>filter</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="flag"></i-feather><span>flag</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="folder-minus"></i-feather><span>folder-minus</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="folder-plus"></i-feather><span>folder-plus</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="folder"></i-feather><span>folder</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="framer"></i-feather><span>framer</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="frown"></i-feather><span>frown</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="gift"></i-feather><span>gift</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="git-branch"></i-feather><span>git-branch</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="git-commit"></i-feather><span>git-commit</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="git-merge"></i-feather><span>git-merge</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="git-pull-request"></i-feather><span>git-pull-request</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="github"></i-feather><span>github</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="gitlab"></i-feather><span>gitlab</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="globe"></i-feather><span>globe</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="grid"></i-feather><span>grid</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="hard-drive"></i-feather><span>hard-drive</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="hash"></i-feather><span>hash</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="headphones"></i-feather><span>headphones</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="heart"></i-feather><span>heart</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="help-circle"></i-feather><span>help-circle</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="hexagon"></i-feather><span>hexagon</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="home"></i-feather><span>home</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="image"></i-feather><span>image</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="inbox"></i-feather><span>inbox</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="info"></i-feather><span>info</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="instagram"></i-feather><span>instagram</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="italic"></i-feather><span>italic</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="key"></i-feather><span>key</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="layers"></i-feather><span>layers</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="layout"></i-feather><span>layout</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="life-buoy"></i-feather><span>life-buoy</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="link-2"></i-feather><span>link-2</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="link"></i-feather><span>link</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="linkedin"></i-feather><span>linkedin</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="list"></i-feather><span>list</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="loader"></i-feather><span>loader</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="lock"></i-feather><span>lock</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="log-in"></i-feather><span>log-in</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="log-out"></i-feather><span>log-out</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="mail"></i-feather><span>mail</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="map-pin"></i-feather><span>map-pin</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="map"></i-feather><span>map</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="maximize-2"></i-feather><span>maximize-2</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="maximize"></i-feather><span>maximize</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="meh"></i-feather><span>meh</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="menu"></i-feather><span>menu</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="message-circle"></i-feather><span>message-circle</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="message-square"></i-feather><span>message-square</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="mic-off"></i-feather><span>mic-off</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="mic"></i-feather><span>mic</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="minimize-2"></i-feather><span>minimize-2</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="minimize"></i-feather><span>minimize</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="minus-circle"></i-feather><span>minus-circle</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="minus-square"></i-feather><span>minus-square</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="minus"></i-feather><span>minus</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="monitor"></i-feather><span>monitor</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="moon"></i-feather><span>moon</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="more-horizontal"></i-feather><span>more-horizontal</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="more-vertical"></i-feather><span>more-vertical</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="mouse-pointer"></i-feather><span>mouse-pointer</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="move"></i-feather><span>move</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="music"></i-feather><span>music</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="navigation-2"></i-feather><span>navigation-2</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="navigation"></i-feather><span>navigation</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="octagon"></i-feather><span>octagon</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="package"></i-feather><span>package</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="paperclip"></i-feather><span>paperclip</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="pause-circle"></i-feather><span>pause-circle</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="pause"></i-feather><span>pause</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="pen-tool"></i-feather><span>pen-tool</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="percent"></i-feather><span>percent</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="phone-call"></i-feather><span>phone-call</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="phone-forwarded"></i-feather><span>phone-forwarded</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="phone-incoming"></i-feather><span>phone-incoming</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="phone-missed"></i-feather><span>phone-missed</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="phone-off"></i-feather><span>phone-off</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="phone-outgoing"></i-feather><span>phone-outgoing</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="phone"></i-feather><span>phone</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="pie-chart"></i-feather><span>pie-chart</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="play-circle"></i-feather><span>play-circle</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="play"></i-feather><span>play</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="plus-circle"></i-feather><span>plus-circle</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="plus-square"></i-feather><span>plus-square</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="plus"></i-feather><span>plus</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="pocket"></i-feather><span>pocket</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="power"></i-feather><span>power</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="printer"></i-feather><span>printer</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="radio"></i-feather><span>radio</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="refresh-ccw"></i-feather><span>refresh-ccw</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="refresh-cw"></i-feather><span>refresh-cw</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="repeat"></i-feather><span>repeat</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="rewind"></i-feather><span>rewind</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="rotate-ccw"></i-feather><span>rotate-ccw</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="rotate-cw"></i-feather><span>rotate-cw</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="rss"></i-feather><span>rss</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="save"></i-feather><span>save</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="scissors"></i-feather><span>scissors</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="search"></i-feather><span>search</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="send"></i-feather><span>send</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="server"></i-feather><span>server</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="settings"></i-feather><span>settings</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="share-2"></i-feather><span>share-2</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="share"></i-feather><span>share</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="shield-off"></i-feather><span>shield-off</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="shield"></i-feather><span>shield</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="shopping-bag"></i-feather><span>shopping-bag</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="shopping-cart"></i-feather><span>shopping-cart</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="shuffle"></i-feather><span>shuffle</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="sidebar"></i-feather><span>sidebar</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="skip-back"></i-feather><span>skip-back</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="skip-forward"></i-feather><span>skip-forward</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="slack"></i-feather><span>slack</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="slash"></i-feather><span>slash</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="sliders"></i-feather><span>sliders</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="smartphone"></i-feather><span>smartphone</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="smile"></i-feather><span>smile</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="speaker"></i-feather><span>speaker</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="square"></i-feather><span>square</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="star"></i-feather><span>star</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="stop-circle"></i-feather><span>stop-circle</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="sun"></i-feather><span>sun</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="sunrise"></i-feather><span>sunrise</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="sunset"></i-feather><span>sunset</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="tablet"></i-feather><span>tablet</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="tag"></i-feather><span>tag</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="target"></i-feather><span>target</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="terminal"></i-feather><span>terminal</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="thermometer"></i-feather><span>thermometer</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="thumbs-down"></i-feather><span>thumbs-down</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="thumbs-up"></i-feather><span>thumbs-up</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="toggle-left"></i-feather><span>toggle-left</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="toggle-right"></i-feather><span>toggle-right</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="tool"></i-feather><span>tool</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="trash-2"></i-feather><span>trash-2</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="trash"></i-feather><span>trash</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="trello"></i-feather><span>trello</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="trending-down"></i-feather><span>trending-down</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="trending-up"></i-feather><span>trending-up</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="triangle"></i-feather><span>triangle</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="truck"></i-feather><span>truck</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="tv"></i-feather><span>tv</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="twitch"></i-feather><span>twitch</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="twitter"></i-feather><span>twitter</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="type"></i-feather><span>type</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="umbrella"></i-feather><span>umbrella</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="underline"></i-feather><span>underline</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="unlock"></i-feather><span>unlock</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="upload-cloud"></i-feather><span>upload-cloud</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="upload"></i-feather><span>upload</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="user-check"></i-feather><span>user-check</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="user-minus"></i-feather><span>user-minus</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="user-plus"></i-feather><span>user-plus</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="user-x"></i-feather><span>user-x</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="user"></i-feather><span>user</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="users"></i-feather><span>users</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="video-off"></i-feather><span>video-off</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="video"></i-feather><span>video</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="voicemail"></i-feather><span>voicemail</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="volume-1"></i-feather><span>volume-1</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="volume-2"></i-feather><span>volume-2</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="volume-x"></i-feather><span>volume-x</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="volume"></i-feather><span>volume</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="watch"></i-feather><span>watch</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="wifi-off"></i-feather><span>wifi-off</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="wifi"></i-feather><span>wifi</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="wind"></i-feather><span>wind</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="x-circle"></i-feather><span>x-circle</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="x-octagon"></i-feather><span>x-octagon</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="x-square"></i-feather><span>x-square</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="x"></i-feather><span>x</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="youtube"></i-feather><span>youtube</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="zap-off"></i-feather><span>zap-off</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="zap"></i-feather><span>zap</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="zoom-in"></i-feather><span>zoom-in</span>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <i-feather name="zoom-out"></i-feather><span>zoom-out</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>