<div class="authentication-bg min-vh-100">
    <div class="bg-overlay bg-white"></div>
    <div class="container">
        <div class="d-flex flex-column min-vh-100 px-3 pt-4">
            <div class="row justify-content-center my-auto">
                <div class="col-md-8 col-lg-6 col-xl-4">

                    <div class="text-center py-5">
                        <div class="mb-4 mb-md-5">
                            <a routerLink="/" class="d-block auth-logo">
                                <img src="assets/images/logo-dark.png" alt="" height="22" class="auth-logo-dark">
                                <img src="assets/images/logo-light.png" alt="" height="22" class="auth-logo-light">
                            </a>
                        </div>
                        <div class="mb-4 mb-md-5">
                            <div class="avatar-lg mx-auto">
                                <div class="avatar-title bg-light text-primary display-5 rounded-circle">
                                    <i class="uil uil-envelope-alt"></i>
                                </div>
                            </div>
                        </div>
                        <div class="text-muted mb-4 mb-md-5">
                            <h4 class="">Verify Your Email</h4>
                            <p>Please enter the 4 digit code sent to <span class="fw-semibold">example@abc.com</span>
                            </p>
                        </div>
                        <form>
                            <div class="row">
                                <ng-otp-input [config]="config"></ng-otp-input>
                            </div>
                        </form><!-- end form -->

                        <div class="mt-4">
                            <a href="javascript:void(0);" class="btn btn-info w-100">Confirm</a>
                        </div>

                        <div class="mt-5 text-center text-muted">
                            <p>Did't receive a code ? <a href="javascript:void(0);"
                                    class="fw-medium text-decoration-underline">Resend</a>
                            </p>
                        </div>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center text-muted p-4">
                        <p class="mb-0">&copy;
                            {{year}} Dashonic. Crafted with <i class="mdi mdi-heart text-danger"></i> by Pichforest
                        </p>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div>
    </div>
    <!-- end container -->
</div>