<!-- start page title -->
<app-pagetitle title="Carousel" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<!-- end page title -->

<div class="row">
    <div class="col-xl-4 col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="justify-content-between d-flex align-items-center mb-4">
                    <h4 class="card-title">Carousel with Slides Only</h4>
                    <a href="https://ng-bootstrap.github.io/#/components/carousel/examples" target="_blank"
                        class="btn btn-sm btn-soft-secondary">Docs <i class="mdi mdi-arrow-right align-middle"></i></a>
                </div>
                <div id="carouselExampleSlidesOnly" class="carousel slide">
                    <ngb-carousel [showNavigationArrows]="showNavigationArrows"
                        [showNavigationIndicators]="showNavigationIndicators">
                        <ng-template ngbSlide>
                            <img class="d-block img-fluid mx-auto" src="assets/images/small/img-1.jpg"
                                alt="First slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block img-fluid mx-auto" src="assets/images/small/img-2.jpg"
                                alt="Second slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block img-fluid mx-auto" src="assets/images/small/img-3.jpg"
                                alt="Third slide">
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->

    <div class="col-xl-4 col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="justify-content-between d-flex align-items-center mb-4">
                    <h4 class="card-title">Carousel with Controls</h4>
                    <a href="https://ng-bootstrap.github.io/#/components/carousel/examples" target="_blank"
                        class="btn btn-sm btn-soft-secondary">Docs <i class="mdi mdi-arrow-right align-middle"></i></a>
                </div>
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">

                    <ngb-carousel [showNavigationIndicators]="showNavigationIndicators">
                        <ng-template ngbSlide>
                            <img class="d-block img-fluid mx-auto" src="assets/images/small/img-4.jpg"
                                alt="First slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block img-fluid mx-auto" src="assets/images/small/img-5.jpg"
                                alt="Second slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block img-fluid mx-auto" src="assets/images/small/img-1.jpg"
                                alt="Third slide">
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->

    <div class="col-xl-4 col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="justify-content-between d-flex align-items-center mb-4">
                    <h4 class="card-title">Carousel with Captions</h4>
                    <a href="https://ng-bootstrap.github.io/#/components/carousel/examples" target="_blank"
                        class="btn btn-sm btn-soft-secondary">Docs <i class="mdi mdi-arrow-right align-middle"></i></a>
                </div>
                <div id="carouselExampleCaption" class="carousel slide" data-bs-ride="carousel">
                    <ngb-carousel [showNavigationIndicators]="showNavigationIndicators">
                        <ng-template ngbSlide>
                            <img src="assets/images/small/img-1.jpg" alt="..." class="d-block img-fluid mx-auto">
                            <div class="carousel-caption d-none d-md-block text-white-50">
                                <h5 class="text-white">First slide label</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="assets/images/small/img-3.jpg" alt="..." class="d-block img-fluid mx-auto">
                            <div class="carousel-caption d-none d-md-block text-white-50">
                                <h5 class="text-white">Second slide label</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="assets/images/small/img-5.jpg" alt="..." class="d-block img-fluid mx-auto">
                            <div class="carousel-caption d-none d-md-block text-white-50">
                                <h5 class="text-white">Third slide label</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div> <!-- end card body -->
        </div> <!-- end card -->
    </div> <!-- end col -->


    <div class="col-xl-4 col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="justify-content-between d-flex align-items-center mb-4">
                    <h4 class="card-title">Carousel with Indicators</h4>
                    <a href="https://ng-bootstrap.github.io/#/components/carousel/examples" target="_blank"
                        class="btn btn-sm btn-soft-secondary">Docs <i class="mdi mdi-arrow-right align-middle"></i></a>
                </div>
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <ngb-carousel [showNavigationIndicators]="!showNavigationIndicators">
                        <ng-template ngbSlide>
                            <img class="d-block img-fluid mx-auto" src="assets/images/small/img-3.jpg"
                                alt="First slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block img-fluid mx-auto" src="assets/images/small/img-2.jpg"
                                alt="First slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block img-fluid mx-auto" src="assets/images/small/img-1.jpg"
                                alt="Third slide">
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div> <!-- end card body -->
        </div> <!-- end card -->
    </div> <!-- end col -->

    <div class="col-xl-4 col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="justify-content-between d-flex align-items-center mb-4">
                    <h4 class="card-title">Crossfade</h4>
                    <a href="https://ng-bootstrap.github.io/#/components/carousel/examples" target="_blank"
                        class="btn btn-sm btn-soft-secondary">Docs <i class="mdi mdi-arrow-right align-middle"></i></a>
                </div>
                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <ngb-carousel [showNavigationIndicators]="!showNavigationIndicators">
                        <ng-template ngbSlide>
                            <img class="d-block img-fluid mx-auto" src="assets/images/small/img-1.jpg"
                                alt="First slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block img-fluid mx-auto" src="assets/images/small/img-4.jpg"
                                alt="First slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block img-fluid mx-auto" src="assets/images/small/img-5.jpg"
                                alt="Third slide">
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div> <!-- end card body -->
        </div> <!-- end card -->
    </div> <!-- end col -->

    <div class="col-xl-4 col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="justify-content-between d-flex align-items-center mb-4">
                    <h4 class="card-title">Dark Variant</h4>
                    <a href="https://ng-bootstrap.github.io/#/components/carousel/examples" target="_blank"
                        class="btn btn-sm btn-soft-secondary">Docs <i class="mdi mdi-arrow-right align-middle"></i></a>
                </div>
                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <ngb-carousel>
                        <ng-template ngbSlide>
                            <img src="assets/images/small/img-9.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>First slide label</h5>
                                <p>Some representative placeholder content for the first slide.</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="assets/images/small/img-9.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>First slide label</h5>
                                <p>Some representative placeholder content for the first slide.</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="assets/images/small/img-8.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Third slide label</h5>
                                <p>Some representative placeholder content for the third slide.</p>
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
        </div>
    </div>

</div> <!-- end row -->