<!-- start page title -->
<app-pagetitle title="Scatter Charts" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<!-- end page title -->

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center">
                <h4 class="card-title">Basic Scatter Chart</h4>
                <a href="https://apexcharts.com/angular-chart-demos/scatter-charts/basic/" target="_blank"
                    class="btn btn-sm btn-soft-secondary">Docs <i class="mdi mdi-arrow-right align-middle"></i></a>
            </div><!-- end card header -->
            <div class="card-body">
                <div id="basic_scatter" class="apex-charts" dir="ltr">
                    <apx-chart [series]="basicScatterChart.series" [chart]="basicScatterChart.chart"
                        [xaxis]="basicScatterChart.xaxis" [yaxis]="basicScatterChart.yaxis"
                        [colors]="basicScatterChart.colors"></apx-chart>
                </div>
            </div>
        </div>
        <!--end card-->
    </div><!-- end col -->
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center">
                <h4 class="card-title">Scatter - Datetime Chart</h4>
                <a href="https://apexcharts.com/angular-chart-demos/scatter-charts/scatter-datetime/" target="_blank"
                    class="btn btn-sm btn-soft-secondary">Docs <i class="mdi mdi-arrow-right align-middle"></i></a>
            </div><!-- end card header -->
            <div class="card-body">
                <div id="datetime_scatter" class="apex-charts" dir="ltr">
                    <apx-chart [series]="dateTimeScatterChart.series" [chart]="dateTimeScatterChart.chart"
                        [xaxis]="dateTimeScatterChart.xaxis" [yaxis]="dateTimeScatterChart.yaxis"
                        [dataLabels]="dateTimeScatterChart.dataLabels" [grid]="dateTimeScatterChart.grid"
                        [colors]="dateTimeScatterChart.colors"></apx-chart>
                </div>
            </div>
        </div>
        <!--end card-->
    </div><!-- end col -->
</div><!-- end row -->

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center">
                <h4 class="card-title">Scatter Images Chart</h4>
                <a href="https://apexcharts.com/angular-chart-demos/scatter-charts/scatter-images/" target="_blank"
                    class="btn btn-sm btn-soft-secondary">Docs <i class="mdi mdi-arrow-right align-middle"></i></a>
            </div><!-- end card header -->
            <div class="card-body">
                <div id="images_scatter" class="apex-charts" dir="ltr">
                    <apx-chart [series]="ScatterImagesChart.series" [chart]="ScatterImagesChart.chart"
                        [xaxis]="ScatterImagesChart.xaxis" [yaxis]="ScatterImagesChart.yaxis"
                        [colors]="ScatterImagesChart.colors" [grid]="ScatterImagesChart.grid"
                        [markers]="ScatterImagesChart.markers" [fill]="ScatterImagesChart.fill"></apx-chart>
                </div>
            </div>
        </div>
        <!--end card-->
    </div><!-- end col -->
</div><!-- end row -->