<!-- start page title -->
<app-pagetitle title="Notifications" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<!-- end page title -->

<div class="row">

    <div class="col-xl-6">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center">
                <h4 class="card-title">Default Notifications</h4>
                <a href="https://ng-bootstrap.github.io/#/components/toast/examples" target="_blank" class="btn btn-sm btn-soft-secondary">Docs <i
                        class="mdi mdi-arrow-right align-middle"></i></a>
            </div><!-- end card header -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table mb-0">
                        <tbody>
                            <tr>
                                <td>Default alert</td>
                                <td class="text-end"><a href="javascript: void(0);" id="alert-message"
                                        class="btn btn-primary btn-sm" (click)="showStandard()">Click me</a></td>
                            </tr>
                            <tr>
                                <td>Success alert</td>
                                <td class="text-end"><a href="javascript: void(0);" id="alert-success"
                                        class="btn btn-primary btn-sm" (click)="showSuccess()">Click me</a></td>
                            </tr>
                            <tr>
                                <td>Error alert</td>
                                <td class="text-end"><a href="javascript: void(0);" id="alert-error"
                                        class="btn btn-primary btn-sm" (click)="showDanger()">Click me</a></td>
                            </tr>
                            <tr>
                                <td>Warning alert</td>
                                <td class="text-end"><a href="javascript: void(0);" id="alert-warning"
                                        class="btn btn-primary btn-sm" (click)="showWarning()">Click me</a></td>
                            </tr>
                        </tbody><!-- end tbody -->
                    </table><!-- end table -->
                    <ng-template #dangerTpl>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" width="24" height="24" viewBox="0 0 24 24">
                            <path
                                d="M10.872 6.831l1.695 3.904 3.654-1.561-1.79 3.426 3.333.954-3.417 1.338 2.231 4.196-4.773-2.582-2.869 2.287.413-3.004-3.792-.726 2.93-1.74-1.885-2.512 3.427.646.843-4.626zm-.786-6.831l-1.665 9.119-6.512-1.228 3.639 4.851-5.548 3.294 7.108 1.361-.834 6.076 5.742-4.577 9.438 5.104-4.288-8.064 6.834-2.677-6.661-1.907 3.25-6.22-6.98 2.982-3.523-8.114z" />
                        </svg>
                        Danger Danger !
                    </ng-template>

                    <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
                </div><!-- end table responsive -->
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->

    <div class="col-xl-6">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center">
                <h4 class="card-title">Default Dialogs</h4>
                <a href="https://ng-bootstrap.github.io/#/components/toast/examples" target="_blank" class="btn btn-sm btn-soft-secondary">Docs <i
                        class="mdi mdi-arrow-right align-middle"></i></a>
            </div><!-- end card header -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table mb-0">
                        <tbody>
                            <tr>
                                <td>Alert</td>
                                <td class="text-end"><a href="javascript: void(0);" id="alert"
                                        class="btn btn-primary btn-sm" (click)="openModal(content)">Click me</a></td>
                            </tr>
                            <tr>
                                <td>Confirm</td>
                                <td class="text-end"><a href="javascript: void(0);" id="alert-confirm"
                                        class="btn btn-primary btn-sm" (click)="confirmModal(confirm_content)">Click
                                        me</a></td>
                            </tr>
                        </tbody><!-- end tbody -->
                    </table><!-- end table -->
                    <ng-template #content role="document" let-modal>
                        <div class="modal-header">
                            <h5 class="modal-title mt-0">Alert Title</h5>
                            <button type="button" class="btn-close" aria-hidden="true"
                                (click)="modal.dismiss('Cross click')"></button>
                        </div>
                        <div class="modal-body">
                            <h5>Alert Message!</h5>
                        </div>
                        <div class="modal-footer">
                            <a href="javascript:void(0);" class="btn btn-outline-primary" (click)="alertDialogs()"
                                (click)="modal.dismiss('Cross click')">OK</a>
                        </div>
                    </ng-template>

                    <!-- Confirm Model -->
                    <ng-template #confirm_content role="document" let-modal>
                        <div class="modal-header">
                            <h5 class="modal-title mt-0">Alert Title</h5>
                            <button type="button" class="btn-close" aria-hidden="true"
                                (click)="modal.dismiss('Cross click')"></button>
                        </div>
                        <div class="modal-body">
                            <h5>Alert Message!</h5>
                        </div>
                        <div class="modal-footer">
                            <a href="javascript:void(0);" class="btn btn-outline-danger" (click)="confirmDialogs()"
                                (click)="modal.dismiss('Cross click')">Cancel</a>
                            <a href="javascript:void(0);" class="btn btn-outline-primary" (click)="alertDialogs()"
                                (click)="modal.dismiss('Cross click')">OK</a>
                        </div>
                    </ng-template>

                </div><!-- end table responsive -->
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->
</div><!-- end row -->