<!-- start page title -->
<app-pagetitle title="Boxplot Charts" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<!-- end page title -->

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center">
                <h4 class="card-title">Basic Box Chart</h4>
                <a href="https://apexcharts.com/angular-chart-demos/box-whisker-charts/basic/" target="_blank"
                    class="btn btn-sm btn-soft-secondary">Docs <i class="mdi mdi-arrow-right align-middle"></i></a>
            </div><!-- end card header -->
            <div class="card-body">
                <apx-chart [series]="basicBoxChart.series" [chart]="basicBoxChart.chart"
                    [plotOptions]="basicBoxChart.plotOptions" [title]="basicBoxChart.title"></apx-chart>
            </div>
        </div>
        <!--end card-->
    </div><!-- end col -->
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center">
                <h4 class="card-title">Boxplot with Scatter Chart</h4>
                <a href="https://apexcharts.com/angular-chart-demos/box-whisker-charts/boxplot-scatter/" target="_blank"
                    class="btn btn-sm btn-soft-secondary">Docs <i class="mdi mdi-arrow-right align-middle"></i></a>
            </div><!-- end card header -->
            <div class="card-body">
                <div id="box_plot" class="apex-charts" dir="ltr">
                    <apx-chart [series]="scatterBoxChart.series" [chart]="scatterBoxChart.chart"
                        [xaxis]="scatterBoxChart.xaxis" [title]="scatterBoxChart.title"
                        [colors]="scatterBoxChart.colors" [tooltip]="scatterBoxChart.tooltip"></apx-chart>
                </div>
            </div>
        </div>
        <!--end card-->
    </div><!-- end col -->
</div><!-- end row -->