<!-- start page title -->
<app-pagetitle title="Bubble Charts" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<!-- end page title -->

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center">
                <h4 class="card-title">Simple Bubble Chart</h4>
                <a href="https://apexcharts.com/angular-chart-demos/bubble-charts/simple/" target="_blank"
                    class="btn btn-sm btn-soft-secondary">Docs <i class="mdi mdi-arrow-right align-middle"></i></a>
            </div><!-- end card header -->
            <div class="card-body">
                <div id="simple_bubble" class="apex-charts" dir="ltr">
                    <apx-chart [series]="simpleBubbleChart.series" [chart]="simpleBubbleChart.chart"
                        [xaxis]="simpleBubbleChart.xaxis" [fill]="simpleBubbleChart.fill"
                        [dataLabels]="simpleBubbleChart.dataLabels" [title]="simpleBubbleChart.title"
                        [yaxis]="simpleBubbleChart.yaxis" [colors]="simpleBubbleChart.colors"></apx-chart>
                </div>
            </div>
        </div>
        <!--end card-->
    </div><!-- end col -->
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center">
                <h4 class="card-title">3D Bubble Chart</h4>
                <a href="https://apexcharts.com/angular-chart-demos/bubble-charts/3d-bubble/" target="_blank"
                    class="btn btn-sm btn-soft-secondary">Docs <i class="mdi mdi-arrow-right align-middle"></i></a>
            </div><!-- end card header -->
            <div class="card-body">
                <div id="bubble_chart" class="apex-charts" dir="ltr">
                    <apx-chart [series]="BubbleChart.series" [chart]="BubbleChart.chart" [xaxis]="BubbleChart.xaxis"
                        [fill]="BubbleChart.fill" [dataLabels]="BubbleChart.dataLabels" [title]="BubbleChart.title"
                        [yaxis]="BubbleChart.yaxis" [tooltip]="BubbleChart.tooltip" [theme]="BubbleChart.theme"
                        [colors]="BubbleChart.colors"></apx-chart>
                </div>
            </div>
        </div>
        <!--end card-->
    </div><!-- end col -->
</div><!-- end row -->