<!-- start page title -->
<app-pagetitle title="Leaflet" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<!-- end page title -->

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center">
                <h4 class="card-title">Example</h4>
                <a href="https://github.com/Asymmetrik/ngx-leaflet" target="_blank" class="btn btn-sm btn-soft-secondary">Docs <i
                        class="mdi mdi-arrow-right align-middle"></i></a>
            </div><!-- end card header -->
            <div class="card-body">
                <div style="height: 300px;" leaflet [leafletOptions]="options"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center">
                <h4 class="card-title">Markers, Circles and Polygons</h4>
                <a href="https://github.com/Asymmetrik/ngx-leaflet" target="_blank" class="btn btn-sm btn-soft-secondary">Docs <i
                        class="mdi mdi-arrow-right align-middle"></i></a>
            </div><!-- end card header -->
            <div class="card-body">
                <div style="height: 300px;" leaflet [leafletOptions]="markers" [leafletLayers]="markersLayers"></div>
            </div>
        </div>
    </div><!-- end col -->
</div><!-- end row -->

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center">
                <h4 class="card-title">Working with Popups</h4>
                <a href="https://github.com/Asymmetrik/ngx-leaflet" target="_blank" class="btn btn-sm btn-soft-secondary">Docs <i
                        class="mdi mdi-arrow-right align-middle"></i></a>
            </div><!-- end card header -->
            <div class="card-body">
                <div leaflet style="height: 300px;" [leafletOptions]="popups" [leafletLayers]="popupLayers">
                </div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center">
                <h4 class="card-title">Markers with Custom Icons</h4>
                <a href="https://github.com/Asymmetrik/ngx-leaflet" target="_blank" class="btn btn-sm btn-soft-secondary">Docs <i
                        class="mdi mdi-arrow-right align-middle"></i></a>
            </div><!-- end card header -->
            <div class="card-body">
                <div leaflet style="height: 300px;" [leafletOptions]="custom" [leafletLayers]="customLayers"></div>
            </div>
        </div>
    </div><!-- end col -->
</div><!-- end row -->

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center">
                <h4 class="card-title">Interactive Choropleth Map</h4>
                <a href="javascript:void(0);" class="btn btn-sm btn-soft-secondary">Docs <i
                        class="mdi mdi-arrow-right align-middle"></i></a>
            </div><!-- end card header -->
            <div class="card-body">
                <div leaflet style="height: 300px;" [leafletOptions]="choropleth" [leafletLayers]="choroplethLayers">
                </div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center">
                <h4 class="card-title">Layer Groups and Layers Control</h4>
                <a href="javascript:void(0);" class="btn btn-sm btn-soft-secondary">Docs <i
                        class="mdi mdi-arrow-right align-middle"></i></a>
            </div><!-- end card header -->
            <div class="card-body">
                <div leaflet style="height: 300px;" [leafletOptions]="groups" [leafletLayers]="GroupsLayers"></div>
            </div>
        </div>
    </div><!-- end col -->
</div><!-- end row -->