<!-- start page title -->
<app-pagetitle title="User Grid" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<!-- end page title -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <h5 class="card-title">Contact List <span
                                    class="text-muted fw-normal ms-2">({{totalRecords}})</span>
                            </h5>
                        </div>
                    </div><!-- end col -->
                    <div class="col-md-6">
                        <div class="d-flex flex-wrap align-items-start justify-content-md-end mt-2 mt-md-0 gap-2 mb-3">
                            <ul class="nav nav-pills">
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/contacts/list" ngbTooltip="List" placement="top"><i class="uil uil-list-ul"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" routerLink="/contacts/grid" ngbTooltip="Grid" placement="top"><i class="uil uil-apps"></i></a>
                                </li>
                            </ul>
                            <div>
                                <a href="javascript:void(0);" class="btn btn-light" data-bs-toggle="modal"
                                    data-bs-target="#addContactModal" (click)="openModal(content)"><i
                                        class="uil uil-plus me-1"></i> Add
                                    New</a>
                                <!-- Modal -->
                                <ng-template #content role="document" let-modal>
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="addContactModalLabel">Add Contact</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                                    </div>
                                    <form (ngSubmit)="saveUser()" [formGroup]="userForm">
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="mb-3">
                                                        <label for="addcontact-name-input"
                                                            class="form-label">Name</label>
                                                        <input class="form-control" placeholder="Enter Name" type="text"
                                                            name="name" formControlName="name"
                                                            [ngClass]="{'is-invalid': submitted && form.name.errors}" />
                                                        <div *ngIf="submitted && form.name.errors"
                                                            class="invalid-feedback">
                                                            <span *ngIf="form.name.errors.required">Name is
                                                                required.</span>
                                                        </div>
                                                    </div>

                                                    <div class="mb-3">
                                                        <label for="addcontact-designation-input"
                                                            class="form-label">Designation</label>
                                                        <input class="form-control" placeholder="Enter designation"
                                                            type="text" name="designation" formControlName="designation"
                                                            [ngClass]="{'is-invalid': submitted && form.designation.errors}" />
                                                        <div *ngIf="submitted && form.designation.errors"
                                                            class="invalid-feedback">
                                                            <span *ngIf="form.designation.errors.required">Designation
                                                                is required.</span>
                                                        </div>
                                                    </div>

                                                    <div class="mb-3">
                                                        <label for="addcontact-email-input"
                                                            class="form-label">Email</label>
                                                        <input class="form-control" placeholder="Enter Email"
                                                            type="text" name="email" formControlName="email"
                                                            [ngClass]="{'is-invalid': submitted && form.email.errors}" />
                                                        <div *ngIf="submitted && form.email.errors"
                                                            class="invalid-feedback">
                                                            <span *ngIf="form.email.errors.required">Email
                                                                is required.</span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light w-sm"
                                                (click)="modal.close('Close click')">Close</button>
                                            <button type="submit" class="btn btn-primary w-sm"
                                                id="btn-save-event">Add</button>
                                        </div>
                                    </form>
                                </ng-template>
                                <!--End Modal -->
                            </div>

                            <div class="dropdown" ngbDropdown placement="bottom-right">
                                <a class="btn btn-link text-dark dropdown-toggle shadow-none" href="javascript:void(0);"
                                    role="button" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                                    <i class="uil uil-ellipsis-h"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                    <li><a class="dropdown-item" href="javascript:void(0);">Action</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0);">Another action</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0);">Something else here</a></li>
                                </ul>
                                <!-- end ul -->
                            </div>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->

                <div class="row">
                    <div class="col-xl-4 col-sm-6" *ngFor="let data of userGridData">
                        <div class="card border shadow-none">
                            <div class="card-body p-4">
                                <div class="d-flex align-items-start">
                                    <div class="flex-shrink-0 avatar rounded-circle me-3">
                                        <img src="{{data.image}}" alt="" class="img-fluid rounded-circle">
                                    </div>
                                    <div class="flex-grow-1 overflow-hidden">
                                        <h5 class="font-size-15 mb-1 text-truncate"><a routerLink="/pages/profile"
                                                class="text-dark">{{data.name}}</a></h5>
                                        <p class="text-muted text-truncate mb-0">{{data.designation}}
                                        </p>
                                    </div>
                                    <div class="flex-shrink-0 dropdown" ngbDropdown placement="bottom-right">
                                        <a class="text-body dropdown-toggle font-size-16" href="javascript:void(0);"
                                            role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                            ngbDropdownToggle>
                                            <i-feather class="icon-xs" name="more-horizontal"></i-feather>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                            <a class="dropdown-item" href="javascript:void(0);">Edit</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Action</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Remove</a>
                                        </div>
                                    </div><!-- end dropdown -->
                                </div>
                            </div>
                            <!-- end card body -->
                            <div class="btn-group btn-icon" role="group">
                                <button type="button" class="btn btn-outline-light"
                                    ngbTooltip="Profile" placement="top"><i class="uil uil-user"></i></button>
                                <button type="button" class="btn btn-outline-light"
                                    ngbTooltip="Message" placement="top"><i class="uil uil-envelope-alt"></i></button>
                                <button type="button" class="btn btn-outline-light"
                                    ngbTooltip="Projects" placement="top"><i class="uil uil-chart-pie"></i></button>
                            </div>
                        </div><!-- end card -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->
</div><!-- end row -->