<!-- start page title -->
<app-pagetitle title="Column Charts" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<!-- end page title -->

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center">
                <h4 class="card-title">Basic Column Charts</h4>
                <a href="https://apexcharts.com/angular-chart-demos/column-charts/basic/" target="_blank"
                    class="btn btn-sm btn-soft-secondary">Docs <i class="mdi mdi-arrow-right align-middle"></i></a>
            </div><!-- end card header -->
            <div class="card-body">
                <apx-chart [series]="basicChart.series" [chart]="basicChart.chart" [dataLabels]="basicChart.dataLabels"
                    [plotOptions]="basicChart.plotOptions" [yaxis]="basicChart.yaxis" [legend]="basicChart.legend"
                    [fill]="basicChart.fill" [stroke]="basicChart.stroke" [tooltip]="basicChart.tooltip"
                    [xaxis]="basicChart.xaxis"></apx-chart>
            </div>
        </div>
        <!--end card-->
    </div>
    <!--end col-->
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center">
                <h4 class="card-title">Column with Data Labels</h4>
                <a href="https://apexcharts.com/angular-chart-demos/column-charts/column-with-data-labels/"
                    target="_blank" class="btn btn-sm btn-soft-secondary">Docs <i
                        class="mdi mdi-arrow-right align-middle"></i></a>
            </div><!-- end card header -->
            <div class="card-body">
                <apx-chart [series]="columnWithDataChart.series" [chart]="columnWithDataChart.chart"
                    [dataLabels]="columnWithDataChart.dataLabels" [plotOptions]="columnWithDataChart.plotOptions"
                    [yaxis]="columnWithDataChart.yaxis" [xaxis]="columnWithDataChart.xaxis"
                    [fill]="columnWithDataChart.fill" [title]="columnWithDataChart.title"></apx-chart>
            </div>
        </div>
        <!--end card-->
    </div>
    <!--end col-->
</div><!-- end row -->

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center">
                <h4 class="card-title">Basic Column Charts</h4>
                <a href="https://apexcharts.com/angular-chart-demos/column-charts/stacked-columns/" target="_blank"
                    class="btn btn-sm btn-soft-secondary">Docs <i class="mdi mdi-arrow-right align-middle"></i></a>
            </div><!-- end card header -->
            <div class="card-body">
                <apx-chart [series]="StackedColumnChart.series" [chart]="StackedColumnChart.chart"
                    [dataLabels]="StackedColumnChart.dataLabels" [plotOptions]="StackedColumnChart.plotOptions"
                    [responsive]="StackedColumnChart.responsive" [xaxis]="StackedColumnChart.xaxis"
                    [legend]="StackedColumnChart.legend" [fill]="StackedColumnChart.fill"></apx-chart>
            </div>
        </div>
        <!--end card-->
    </div>
    <!--end col-->
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center">
                <h4 class="card-title">Column with Data Labels</h4>
                <a href="https://apexcharts.com/angular-chart-demos/column-charts/stacked-columns-100/" target="_blank"
                    class="btn btn-sm btn-soft-secondary">Docs <i class="mdi mdi-arrow-right align-middle"></i></a>
            </div><!-- end card header -->
            <div class="card-body">
                <apx-chart [series]="StackedColumn100Chart.series" [chart]="StackedColumn100Chart.chart"
                    [dataLabels]="StackedColumn100Chart.dataLabels" [plotOptions]="StackedColumn100Chart.plotOptions"
                    [responsive]="StackedColumn100Chart.responsive" [xaxis]="StackedColumn100Chart.xaxis"
                    [legend]="StackedColumn100Chart.legend" [fill]="StackedColumn100Chart.fill"></apx-chart>
            </div>
        </div>
        <!--end card-->
    </div>
    <!--end col-->
</div><!-- end row -->

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center">
                <h4 class="card-title">Column with Markers</h4>
                <a href="https://apexcharts.com/angular-chart-demos/column-charts/column-with-markers/" target="_blank"
                    class="btn btn-sm btn-soft-secondary">Docs <i class="mdi mdi-arrow-right align-middle"></i></a>
            </div><!-- end card header -->
            <div class="card-body">
                <apx-chart [series]="ColumnWithMarkerChart.series" [chart]="ColumnWithMarkerChart.chart"
                    [legend]="ColumnWithMarkerChart.legend" [dataLabels]="ColumnWithMarkerChart.dataLabels"
                    [colors]="ColumnWithMarkerChart.colors" [plotOptions]="ColumnWithMarkerChart.plotOptions">
                </apx-chart>
            </div>
        </div>
        <!--end card-->
    </div>
    <!--end col-->
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center">
                <h4 class="card-title">Column with Rotated Labels</h4>
                <a href="https://apexcharts.com/angular-chart-demos/column-charts/column-with-rotated-labels/"
                    target="_blank" class="btn btn-sm btn-soft-secondary">Docs <i
                        class="mdi mdi-arrow-right align-middle"></i></a>
            </div><!-- end card header -->
            <div class="card-body">
                <apx-chart [series]="ColumnWithRotatedChart.series" [chart]="ColumnWithRotatedChart.chart"
                    [dataLabels]="ColumnWithRotatedChart.dataLabels" [plotOptions]="ColumnWithRotatedChart.plotOptions"
                    [yaxis]="ColumnWithRotatedChart.yaxis" [xaxis]="ColumnWithRotatedChart.xaxis"
                    [stroke]="ColumnWithRotatedChart.stroke" [grid]="ColumnWithRotatedChart.grid"
                    [fill]="ColumnWithRotatedChart.fill" [annotations]="ColumnWithRotatedChart.annotations"></apx-chart>
            </div>
        </div>
        <!--end card-->
    </div>
    <!--end col-->
</div><!-- end row -->

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center">
                <h4 class="card-title">Column with Nagetive Values</h4>
                <a href="https://apexcharts.com/angular-chart-demos/column-charts/column-with-negative-values/"
                    target="_blank" class="btn btn-sm btn-soft-secondary">Docs <i
                        class="mdi mdi-arrow-right align-middle"></i></a>
            </div><!-- end card header -->
            <div class="card-body">
                <apx-chart [series]="ColumnWithNagetiveChart.series" [chart]="ColumnWithNagetiveChart.chart"
                    [dataLabels]="ColumnWithNagetiveChart.dataLabels"
                    [plotOptions]="ColumnWithNagetiveChart.plotOptions" [yaxis]="ColumnWithNagetiveChart.yaxis"
                    [xaxis]="ColumnWithNagetiveChart.xaxis"></apx-chart>
            </div>
        </div>
        <!--end card-->
    </div>
    <!--end col-->
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center">
                <h4 class="card-title">Range Column Chart</h4>
                <a href="https://apexcharts.com/angular-chart-demos/column-charts/range-column-chart/" target="_blank"
                    class="btn btn-sm btn-soft-secondary">Docs <i class="mdi mdi-arrow-right align-middle"></i></a>
            </div><!-- end card header -->
            <div class="card-body">
                <apx-chart [series]="rangeColumnChart.series" [chart]="rangeColumnChart.chart"
                    [dataLabels]="rangeColumnChart.dataLabels" [plotOptions]="rangeColumnChart.plotOptions"></apx-chart>
            </div>
        </div>
        <!--end card-->
    </div>
    <!--end col-->
</div><!-- end row -->

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center">
                <h4 class="card-title">Dynamic Loaded Chart</h4>
                <a href="https://apexcharts.com/angular-chart-demos/column-charts/dynamic-loaded-chart/" target="_blank"
                    class="btn btn-sm btn-soft-secondary">Docs <i class="mdi mdi-arrow-right align-middle"></i></a>
            </div><!-- end card header -->
            <div class="card-body">
                <div id="dynamicloadedchart-wrap">
                    <div id="chart-year" class="apex-charts">
                        <apx-chart [series]="dynamicLoadedChart.series" [chart]="dynamicLoadedChart.chart"
                            [dataLabels]="dynamicLoadedChart.dataLabels" [plotOptions]="dynamicLoadedChart.plotOptions"
                            [yaxis]="dynamicLoadedChart.yaxis" [xaxis]="dynamicLoadedChart.xaxis"
                            [subtitle]="dynamicLoadedChart.subtitle" [colors]="dynamicLoadedChart.colors"
                            [states]="dynamicLoadedChart.states" [title]="dynamicLoadedChart.title"
                            [tooltip]="dynamicLoadedChart.tooltip"></apx-chart>
                    </div>
                    <div id="chart-quarter" class="apex-charts">
                        <apx-chart [series]="dynamicQuarterLoadedChart.series" [chart]="dynamicQuarterLoadedChart.chart"
                            [legend]="dynamicQuarterLoadedChart.legend"
                            [plotOptions]="dynamicQuarterLoadedChart.plotOptions"
                            [yaxis]="dynamicQuarterLoadedChart.yaxis" [xaxis]="dynamicQuarterLoadedChart.xaxis"
                            [grid]="dynamicQuarterLoadedChart.grid" [title]="dynamicQuarterLoadedChart.title">
                        </apx-chart>
                    </div>
                </div>
            </div>
        </div>
        <!--end card-->
    </div>
    <!--end col-->
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center">
                <h4 class="card-title">Distributed Columns Charts</h4>
                <a href="https://apexcharts.com/angular-chart-demos/column-charts/distributed-columns/" target="_blank"
                    class="btn btn-sm btn-soft-secondary">Docs <i class="mdi mdi-arrow-right align-middle"></i></a>
            </div><!-- end card header -->
            <div class="card-body">
                <apx-chart [series]="distributedColumnChart.series" [chart]="distributedColumnChart.chart"
                    [dataLabels]="distributedColumnChart.dataLabels" [plotOptions]="distributedColumnChart.plotOptions"
                    [yaxis]="distributedColumnChart.yaxis" [xaxis]="distributedColumnChart.xaxis"
                    [legend]="distributedColumnChart.legend" [colors]="distributedColumnChart.colors"
                    [grid]="distributedColumnChart.grid"></apx-chart>
            </div>
        </div>
        <!--end card-->
    </div>
    <!--end col-->
</div><!-- end row -->