<!-- start page title -->
<app-pagetitle title="User List" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<!-- end page title -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <h5 class="card-title">Contact List <span class="text-muted fw-normal ms-2"></span>
                            </h5>
                        </div>
                    </div><!-- end col -->
                    <div class="col-md-6">
                        <div class="d-flex flex-wrap align-items-start justify-content-md-end mt-2 mt-md-0 gap-2 mb-3">
                            <div>
                                <ul class="nav nav-pills">
                                    <li class="nav-item">
                                        <a class="nav-link active" routerLink="/contacts/list" data-bs-toggle="tooltip"
                                            data-bs-placement="top" title="List"><i class="uil uil-list-ul"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" routerLink="/contacts/grid" data-bs-toggle="tooltip"
                                            data-bs-placement="top" title="Grid"><i class="uil uil-apps"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <a href="javascript:void(0);" class="btn btn-light" data-bs-toggle="modal"
                                    data-bs-target="#addContactModal" (click)="openModal(content)"><i
                                        class="uil uil-plus me-1"></i> Add
                                    New</a>
                                <!-- Modal -->
                                <ng-template #content role="document" let-modal>
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="addContactModalLabel">Add Contact</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                                    </div>
                                    <form (ngSubmit)="saveUser()" [formGroup]="userForm">
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="mb-3">
                                                        <label for="addcontact-name-input"
                                                            class="form-label">Name</label>
                                                        <input class="form-control" placeholder="Enter Name" type="text"
                                                            name="name" formControlName="name"
                                                            [ngClass]="{'is-invalid': submitted && form.name.errors}" />
                                                        <div *ngIf="submitted && form.name.errors"
                                                            class="invalid-feedback">
                                                            <span *ngIf="form.name.errors.required">Name is
                                                                required.</span>
                                                        </div>
                                                    </div>

                                                    <div class="mb-3">
                                                        <label for="addcontact-designation-input"
                                                            class="form-label">Designation</label>
                                                        <input class="form-control" placeholder="Enter designation"
                                                            type="text" name="designation" formControlName="designation"
                                                            [ngClass]="{'is-invalid': submitted && form.designation.errors}" />
                                                        <div *ngIf="submitted && form.designation.errors"
                                                            class="invalid-feedback">
                                                            <span *ngIf="form.designation.errors.required">Designation
                                                                is required.</span>
                                                        </div>
                                                    </div>

                                                    <div class="mb-3">
                                                        <label for="addcontact-email-input"
                                                            class="form-label">Email</label>
                                                        <input class="form-control" placeholder="Enter Email"
                                                            type="text" name="email" formControlName="email"
                                                            [ngClass]="{'is-invalid': submitted && form.email.errors}" />
                                                        <div *ngIf="submitted && form.email.errors"
                                                            class="invalid-feedback">
                                                            <span *ngIf="form.email.errors.required">Email
                                                                is required.</span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light w-sm"
                                                (click)="modal.close('Close click')">Close</button>
                                            <button type="submit" class="btn btn-primary w-sm"
                                                id="btn-save-event">Add</button>
                                        </div>
                                    </form>
                                </ng-template>
                                <!--End Modal -->
                            </div>

                            <div class="dropdown" ngbDropdown>
                                <a class="btn btn-link text-dark dropdown-toggle shadow-none" href="javascript:void(0);"
                                    role="button" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                                    <i class="uil uil-ellipsis-h"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                    <li><a class="dropdown-item" href="javascript:void(0);">Action</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0);">Another action</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0);">Something else here</a></li>
                                </ul>
                                <!-- end ul -->
                            </div>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->

                <div class="row">
                    <div class="col-12">
                        <div class="border_none">
                            <div class="py-2">
                                <div class="row mb-md-2">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_length" id="tickets-table_length"><label
                                                class="d-inline-flex align-items-center">Show
                                                <select name="tickets-table_length" aria-controls="tickets-table"
                                                    name="pageSize" [(ngModel)]="service.pageSize"
                                                    class="form-control form-control-sm mx-2">
                                                    <option [ngValue]="10">10</option>
                                                    <option [ngValue]="25">25</option>
                                                    <option [ngValue]="50">50</option>
                                                    <option [ngValue]="100">100</option>
                                                </select> entries</label></div>
                                    </div>
                                    <!-- Search -->
                                    <div class="col-sm-12 col-md-6">
                                        <div id="tickets-table_filter" class="dataTables_filter text-md-end"><label
                                                class="d-inline-flex align-items-center">Search:
                                                <input type="text" name="searchTerm"
                                                    class="form-control form-control-sm ms-2"
                                                    aria-controls="tickets-table"
                                                    [(ngModel)]="service.searchTerm"></label></div>
                                    </div>
                                    <!-- End search -->
                                </div>
                                <!-- Table -->
                                <div class="table-responsive datatables">
                                    <table class="table align-middle table-nowrap table-check">
                                        <thead>
                                            <tr>
                                                <th scope="col" style="width: 50px;">
                                                    <div class="form-check font-size-16">
                                                        <input type="checkbox" [(ngModel)]="masterSelected"
                                                            class="form-check-input" id="checkAll"
                                                            (change)="checkUncheckAll()">
                                                        <label class="form-check-label" for="checkAll"></label>
                                                    </div>
                                                </th>
                                                <th (click)="sort('name')" [ngClass]="{'asc': isDesc && column == 'name', 'desc': !isDesc && column == 'name'}">Name</th>
                                                <th (click)="sort('position')" [ngClass]="{'asc': isDesc && column == 'position', 'desc': !isDesc && column == 'position'}">Position</th>
                                                <th (click)="sort('email')" [ngClass]="{'asc': isDesc && column == 'email', 'desc': !isDesc && column == 'email'}">Email</th>
                                                <th (click)="sort('tags')" [ngClass]="{'asc': isDesc && column == 'tags', 'desc': !isDesc && column == 'tags'}">Tags</th>
                                                <th style="width: 80px; min-width: 80px;">Action</th>
                                            </tr><!-- end tr -->
                                        </thead><!-- end thead -->
                                        <tbody *ngFor="let table of tables$ | async;let i=index">
                                            <tr>
                                                <th scope="row">
                                                    <div class="form-check font-size-16">
                                                        <input type="checkbox" class="form-check-input"
                                                            [(ngModel)]="table.isSelected" id="contacusercheck1">
                                                        <label class="form-check-label" for="contacusercheck1"></label>
                                                    </div>
                                                </th>
                                                <td>
                                                    <img src="{{table.image}}" alt=""
                                                        class="avatar-sm rounded-circle me-2">
                                                    <a routerLink="/pages/profile" class="text-body fw-medium">
                                                        <ngb-highlight [result]="table.name" [term]="service.searchTerm"
                                                            class="text-body fw-medium"></ngb-highlight>
                                                    </a>
                                                </td>
                                                <td>
                                                    <ngb-highlight [result]="table.position"
                                                        [term]="service.searchTerm">
                                                    </ngb-highlight>
                                                </td>
                                                <td>
                                                    <ngb-highlight [result]="table.email" [term]="service.searchTerm">
                                                    </ngb-highlight>
                                                </td>
                                                <td>
                                                    <div class="d-flex gap-2">
                                                        <a href="javascript:void(0);" *ngFor="let item of table.tags"
                                                            class="badge badge-soft-primary">
                                                            {{item}}</a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="dropdown" ngbDropdown>
                                                        <button class="btn btn-light btn-sm dropdown-toggle"
                                                            type="button" data-bs-toggle="dropdown"
                                                            aria-expanded="false" ngbDropdownToggle>
                                                            <i class="uil uil-ellipsis-h"></i>
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                                            <li><a class="dropdown-item"
                                                                    href="javascript:void(0);">Edit</a></li>
                                                            <li><a class="dropdown-item"
                                                                    href="javascript:void(0);">Print</a></li>
                                                            <li><a class="dropdown-item"
                                                                    href="javascript:void(0);">Delete</a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                                <!-- End table -->
                                <div class="row justify-content-md-between align-items-md-center mt-2">
                                    <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info mb-2" id="tickets-table_info" role="status"
                                            aria-live="polite">
                                            Showing
                                            {{service.startIndex}} to
                                            {{service.endIndex}} of {{service.totalRecords}}
                                            entries
                                        </div>
                                    </div>
                                    <!-- Pagination -->
                                    <div class="col-sm-12 col-md-5">
                                        <div class="text-md-right float-md-end pagination-rounded">
                                            <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page"
                                                [pageSize]="service.pageSize">
                                            </ngb-pagination>
                                        </div>
                                    </div>
                                    <!-- End Pagination -->
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->
</div><!-- end row -->