<!-- start page title -->
<app-pagetitle title="Analytics" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<!-- end page title -->

<div class="row">
    <div class="col-xxl-9 col-lg-8">
        <div class="card">
            <div class="card-header bg-transparent">
                <div class="d-flex align-items-start">
                    <div class="flex-grow-1">
                        <h5 class="card-title mb-0">Daily Active Users</h5>
                    </div>
                    <div class="flex-shrink-0">
                        <div class="dropdown" ngbDropdown placement="bottom-right">
                            <a class="dropdown-toggle text-reset" href="javascript:void(0);" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                                <span class="fw-semibold">Sort By:</span> <span class="text-muted">Yearly<i
                                        class="mdi mdi-chevron-down ms-1"></i></span>
                            </a>

                            <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                <a class="dropdown-item" href="javascript:void(0);">Yearly</a>
                                <a class="dropdown-item" href="javascript:void(0);">Monthly</a>
                                <a class="dropdown-item" href="javascript:void(0);">Weekly</a>
                                <a class="dropdown-item" href="javascript:void(0);">Today</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body border-bottom py-3">
                <div class="row gx-lg-5">
                    <div class="col-md-auto">
                        <div>
                            <p class="text-muted mb-2">Total Visitors</p>
                            <h4 class="mb-0">18.2 k <span class="text-muted font-size-12 fw-normal ms-2">1.4 % <i
                                        class="uil uil-arrow-up-right text-success ms-1"></i></span></h4>
                        </div>
                    </div>
                    <div class="col-md align-self-end">
                        <div class="text-md-end mt-4 mt-md-0">
                            <ul class="list-inline main-chart mb-0">
                                <li class="list-inline-item chart-border-left me-0 border-0">
                                    <h4 class="text-primary my-1">3.85 k<span
                                            class="text-muted d-inline-block fw-normal font-size-13 ms-2">Sessions</span>
                                    </h4>
                                </li>
                                <li class="list-inline-item chart-border-left me-0">
                                    <h4 class="my-1">24.03 %<span
                                            class="text-muted d-inline-block fw-normal font-size-13 ms-2">Bounce
                                            Rate</span>
                                    </h4>
                                </li>
                                <li class="list-inline-item chart-border-left me-0">
                                    <h4 class="my-1">52 k<span
                                            class="text-muted d-inline-block fw-normal font-size-13 ms-2">Users</span>
                                    </h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end card body -->

            <div>
                <apx-chart class="apex-charts mt-3" dir="ltr" [series]="areaChart.series" [chart]="areaChart.chart"
                    [dataLabels]="areaChart.dataLabels" [markers]="areaChart.markers" [stroke]="areaChart.stroke"
                    [xaxis]="areaChart.xaxis" [yaxis]="areaChart.yaxis" [tooltip]="areaChart.tooltip"
                    [grid]="areaChart.grid" [colors]="areaChart.colors" [fill]="areaChart.fill">
                </apx-chart>
            </div>
            <!-- end card-body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->

    <div class="col-xxl-3 col-lg-4">
        <div class="card">
            <div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0 me-3">
                                <div class="avatar-sm">
                                    <div class="avatar-title rounded-circle font-size-12">
                                        <i class="fas fa-user"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <p class="text-muted mb-1">Users</p>
                                <h5 class="font-size-16 mb-0">2.2 k</h5>
                            </div>
                            <div class="flex-shrink-0 align-self-end">
                                <div class="badge badge-soft-success ms-2">1.2 % <i
                                        class="uil uil-arrow-up-right text-success ms-1"></i></div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0 me-3">
                                <div class="avatar-sm">
                                    <div class="avatar-title rounded-circle font-size-12">
                                        <i class="fas fa-hourglass-start"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <p class="text-muted mb-1">Sessions</p>
                                <h5 class="font-size-16 mb-0">3.85 k</h5>
                            </div>
                            <div class="flex-shrink-0 align-self-end">
                                <div class="badge badge-soft-danger ms-2">1.2 % <i
                                        class="uil uil-arrow-down-left text-danger ms-1"></i></div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0 me-3">
                                <div class="avatar-sm">
                                    <div class="avatar-title rounded-circle font-size-12">
                                        <i class="fas fa-stopwatch"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <p class="text-muted mb-1">Session Duration</p>
                                <h5 class="font-size-16 mb-0">1 min</h5>
                            </div>
                            <div class="flex-shrink-0 align-self-end">
                                <div class="badge badge-soft-danger ms-2">1.1 % <i
                                        class="uil uil-arrow-down-left text-danger ms-1"></i></div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0 me-3">
                                <div class="avatar-sm">
                                    <div class="avatar-title rounded-circle font-size-12">
                                        <i class="fas fa-chart-area"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <p class="text-muted mb-1">Bounce Rate</p>
                                <h5 class="font-size-16 mb-0">24.03 %</h5>
                            </div>
                            <div class="flex-shrink-0 align-self-end">
                                <div class="badge badge-soft-success ms-2">1.2 % <i
                                        class="uil uil-arrow-up-right text-success ms-1"></i></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- end card -->

        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-start">
                    <div class="flex-grow-1 overflow-hidden">
                        <h5 class="card-title text-truncate mb-4">User Activity</h5>
                    </div>

                    <div class="flex-shrink-0">
                        <div class="dropdown" ngbDropdown placement="bottom-right">
                            <a class="font-size-16 text-muted dropdown-toggle" href="javascript:void(0);"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                                <i class="mdi mdi-dots-horizontal"></i>
                            </a>

                            <div class="dropdown-menu" ngbDropdownMenu>
                                <a class="dropdown-item" href="javascript:void(0);">Action</a>
                                <a class="dropdown-item" href="javascript:void(0);">Another action</a>
                                <a class="dropdown-item" href="javascript:void(0);">Something else here</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <apx-chart dir="ltr" class="apex-charts" [chart]="columnChart.chart" [series]="columnChart.series"
                        [legend]="columnChart.legend" [colors]="columnChart.colors" [fill]="columnChart.fill"
                        [dataLabels]="columnChart.dataLabels" [xaxis]="columnChart.xaxis" [yaxis]="columnChart.yaxis"
                        [plotOptions]="columnChart.plotOptions">
                    </apx-chart>
                </div>

            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->

<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card card-h-100">
            <div class="card-body">
                <div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item py-3">
                            <div class="row">
                                <div class="col-7">
                                    <div>
                                        <p class="text-muted mb-2 text-truncate">New Visitors</p>
                                        <h5 class="font-size-16 mb-0 text-truncate">1.2 k <span
                                                class="text-muted font-size-12 fw-normal ms-2">0.2 % <i
                                                    class="uil uil-arrow-up-right text-success ms-1"></i></span></h5>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <apx-chart class="apex-charts" dir="ltr" [series]="visitorsChart.series"
                                        [chart]="visitorsChart.chart" [colors]="visitorsChart.colors"
                                        [stroke]="visitorsChart.stroke" [tooltip]="visitorsChart.tooltip">
                                    </apx-chart>
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item py-3">
                            <div class="row">
                                <div class="col-7">
                                    <div>
                                        <p class="text-muted mb-2 text-truncate">Users</p>
                                        <h5 class="font-size-16 mb-0 text-truncate">2.2 k</h5>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <apx-chart class="apex-charts" dir="ltr" [series]="userChart.series"
                                        [chart]="userChart.chart" [colors]="userChart.colors"
                                        [stroke]="userChart.stroke" [tooltip]="userChart.tooltip">
                                    </apx-chart>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item py-3">
                            <div class="row">
                                <div class="col-7">
                                    <div>
                                        <p class="text-muted mb-2 text-truncate">Sessions</p>
                                        <h5 class="font-size-16 mb-0 text-truncate">3.85 k <span
                                                class="text-muted font-size-12 fw-normal ms-2">1.2 % <i
                                                    class="uil uil-arrow-up-right text-success ms-1"></i></span></h5>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <apx-chart class="apex-charts" dir="ltr" [series]="sessionsChart.series"
                                        [chart]="sessionsChart.chart" [colors]="sessionsChart.colors"
                                        [stroke]="sessionsChart.stroke" [tooltip]="sessionsChart.tooltip">
                                    </apx-chart>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
    <div class="col-xl-3 col-md-6">
        <div class="card card-h-100">
            <div class="card-header border-bottom-0">
                <div class="d-flex align-items-start">
                    <div class="flex-grow-1">
                        <h5 class="card-title">Visitors by Browser</h5>
                    </div>

                    <div class="flex-shrink-0">
                        <div class="dropdown" ngbDropdown placement="bottom-right">
                            <a class="font-size-16 text-muted dropdown-toggle" href="javascript:void(0);"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                                <i class="mdi mdi-dots-horizontal"></i>
                            </a>
                            <div class="dropdown-menu" ngbDropdownMenu>
                                <a class="dropdown-item" href="javascript:void(0);">Action</a>
                                <a class="dropdown-item" href="javascript:void(0);">Another action</a>
                                <a class="dropdown-item" href="javascript:void(0);">Something else here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ngx-simplebar style="max-height: 230px;">
                <ul class="list-unstyled unstyled mb-0">
                    <li class="px-4 py-3">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0 me-3">
                                <div class="avatar-sm">
                                    <div class="avatar-title bg-light text-primary rounded-circle font-size-18">
                                        <i class="fab fa-chrome"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <p class="text-muted mb-2">Chrome <span class="float-end fw-medium">82 %</span></p>
                                <div class="progress animated-progess custom-progress">
                                    <div class="progress-bar" role="progressbar" style="width: 82%" aria-valuenow="82"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="px-4 py-3">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0 me-3">
                                <div class="avatar-sm">
                                    <div class="avatar-title bg-light text-primary rounded-circle font-size-18">
                                        <i class="fab fa-firefox-browser"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <p class="text-muted mb-2">Firefox <span class="float-end fw-medium">70 %</span></p>
                                <div class="progress animated-progess custom-progress">
                                    <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="px-4 py-3">
                        <div class="d-flex">
                            <div class="flex-shrink-0 me-3">
                                <div class="avatar-sm">
                                    <div class="avatar-title bg-light text-primary rounded-circle font-size-18">
                                        <i class="fab fa-safari"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <p class="text-muted mb-2">Safari <span class="float-end fw-medium">76 %</span></p>
                                <div class="progress animated-progess custom-progress">
                                    <div class="progress-bar" role="progressbar" style="width: 76%" aria-valuenow="76"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="px-4 py-3">
                        <div class="d-flex">
                            <div class="flex-shrink-0 me-3">
                                <div class="avatar-sm">
                                    <div class="avatar-title bg-light text-primary rounded-circle font-size-18">
                                        <i class="fab fa-edge"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <p class="text-muted mb-2">Edge <span class="float-end fw-medium">67 %</span></p>
                                <div class="progress animated-progess custom-progress">
                                    <div class="progress-bar" role="progressbar" style="width: 67%" aria-valuenow="67"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </ngx-simplebar>
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
    <div class="col-xl-3 col-md-6">
        <div class="card card-h-100">
            <div class="card-body">
                <div class="d-flex align-items-start">
                    <div class="flex-grow-1">
                        <h5 class="card-title mb-4">Visitors Source</h5>
                    </div>

                    <div class="flex-shrink-0">
                        <div class="dropdown" ngbDropdown placement="bottom-right">
                            <a class="font-size-16 text-muted dropdown-toggle" href="javascript:void(0);"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                                <i class="mdi mdi-dots-horizontal"></i>
                            </a>

                            <div class="dropdown-menu" ngbDropdownMenu>
                                <a class="dropdown-item" href="javascript:void(0);">Action</a>
                                <a class="dropdown-item" href="javascript:void(0);">Another action</a>
                                <a class="dropdown-item" href="javascript:void(0);">Something else here</a>
                            </div>
                        </div>
                    </div>
                </div>
                <apx-chart class="apex-charts" dir="ltr" [chart]="donutChart.chart"
                    [plotOptions]="donutChart.plotOptions" [dataLabels]="donutChart.dataLabels"
                    [series]="donutChart.series" [labels]="donutChart.labels" [colors]="donutChart.colors"
                    [legend]="donutChart.legend">
                </apx-chart>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
    <div class="col-xl-3 col-md-6">
        <div class="card card-h-100">
            <div class="card-header border-bottom-0">
                <div class="d-flex align-items-start">
                    <div class="flex-grow-1">
                        <h5 class="card-title">Traffic Source</h5>
                    </div>

                    <div class="flex-shrink-0">
                        <div class="dropdown" ngbDropdown placement="bottom-right">
                            <a class="font-size-16 text-muted dropdown-toggle" href="javascript:void(0);"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                                <i class="mdi mdi-dots-horizontal"></i>
                            </a>

                            <div class="dropdown-menu" ngbDropdownMenu>
                                <a class="dropdown-item" href="javascript:void(0);">Action</a>
                                <a class="dropdown-item" href="javascript:void(0);">Another action</a>
                                <a class="dropdown-item" href="javascript:void(0);">Something else here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <ngx-simplebar style="max-height: 230px;">
                <ul class="list-unstyled mb-0">
                    <li class="px-4 py-3" *ngFor="let data of trafficData">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0 me-3">
                                <div class="avatar-sm">
                                    <div class="avatar-title bg-light text-primary rounded-circle">
                                        {{data.id}}
                                    </div>
                                </div>
                            </div>
                            <div class="flex-grow-1 overflow-hidden">
                                <p class="text-muted mb-1 text-truncate">{{data.link}}</p>
                                <h5 class="font-size-16 mb-0 text-truncate">{{data.price}}</h5>
                            </div>
                            <div class="flex-shrink-0 align-self-start">
                                <div class="badge badge-soft-success ms-2">{{data.percentage}} <i
                                        class="uil uil-arrow-up-right text-success ms-1"></i></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </ngx-simplebar>
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->

<div class="row">
    <div class="col-xl-8">
        <div class="card card-h-100">
            <div class="card-body">
                <div class="d-flex align-items-start">
                    <div class="flex-grow-1 overflow-hidden">
                        <h5 class="card-title text-truncate mb-3">Visitors by Location</h5>
                    </div>

                    <div class="flex-shrink-0">
                        <div class="dropdown" ngbDropdown placement="bottom-right">
                            <a class="dropdown-toggle text-reset" href="javascript:void(0);" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                                <span class="fw-semibold">Report By:</span> <span class="text-muted">Monthly<i
                                        class="mdi mdi-chevron-down ms-1"></i></span>
                            </a>

                            <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                <a class="dropdown-item" href="javascript:void(0);">Yearly</a>
                                <a class="dropdown-item" href="javascript:void(0);">Monthly</a>
                                <a class="dropdown-item" href="javascript:void(0);">Weekly</a>
                                <a class="dropdown-item" href="javascript:void(0);">Today</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div leaflet style="height: 270px;" [leafletOptions]="options" [leafletLayers]="layers"></div>
                    </div>
                    <div class="col-lg-5">
                        <ngx-simplebar style="max-height: 230px;">
                            <ul class="list-unstyled mb-0">
                                <li class="px-4 py-3">
                                    <div class="d-flex align-items-start">
                                        <div class="flex-shrink-0 align-self-center me-3">
                                            <div class="avatar-sm">
                                                <div class="avatar-title bg-light rounded-circle">
                                                    <img src="assets/images/flags/us.jpg" alt="" height="10">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <p class="text-muted mb-1">United States</p>
                                            <h5 class="font-size-16 mb-0">81%</h5>
                                        </div>
                                        <div class="flex-shrink-0 ms-2">
                                            <div class="badge badge-soft-success">0.02 % <i
                                                    class="uil uil-arrow-up-right text-success ms-1"></i></div>
                                        </div>
                                    </div>
                                </li>
                                <li class="px-4 py-3">
                                    <div class="d-flex align-items-start">
                                        <div class="flex-shrink-0 align-self-center me-3">
                                            <div class="avatar-sm">
                                                <div class="avatar-title bg-light rounded-circle">
                                                    <img src="assets/images/flags/spain.jpg" alt="" height="10">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <p class="text-muted mb-1">Spain</p>
                                            <h5 class="font-size-16 mb-0">77%</h5>
                                        </div>
                                        <div class="flex-shrink-0 ms-2">
                                            <div class="badge badge-soft-success">0.01 % <i
                                                    class="uil uil-arrow-up-right text-success ms-1"></i></div>
                                        </div>
                                    </div>
                                </li>

                                <li class="px-4 py-3">
                                    <div class="d-flex align-items-start">
                                        <div class="flex-shrink-0 align-self-center me-3">
                                            <div class="avatar-sm">
                                                <div class="avatar-title bg-light rounded-circle">
                                                    <img src="assets/images/flags/germany.jpg" alt="" height="10">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <p class="text-muted mb-1">Germany</p>
                                            <h5 class="font-size-16 mb-0">80%</h5>
                                        </div>
                                        <div class="flex-shrink-0 ms-2">
                                            <div class="badge badge-soft-success">0.03 % <i
                                                    class="uil uil-arrow-up-right text-success ms-1"></i></div>
                                        </div>
                                    </div>
                                </li>

                                <li class="px-4 py-3">
                                    <div class="d-flex align-items-start">
                                        <div class="flex-shrink-0 align-self-center me-3">
                                            <div class="avatar-sm">
                                                <div class="avatar-title bg-light rounded-circle">
                                                    <img src="assets/images/flags/italy.jpg" alt="" height="10">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <p class="text-muted mb-1">Italy</p>
                                            <h5 class="font-size-16 mb-0">73%</h5>
                                        </div>
                                        <div class="flex-shrink-0 ms-2">
                                            <div class="badge badge-soft-success">0.01 % <i
                                                    class="uil uil-arrow-up-right text-success ms-1"></i></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </ngx-simplebar>
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->

    <div class="col-xl-4">
        <div class="card card-h-100">
            <div class="card-body">
                <div class="d-flex align-items-start">
                    <div class="flex-grow-1 overflow-hidden">
                        <h5 class="card-title text-truncate mb-3">Channels</h5>
                    </div>

                    <div class="flex-shrink-0">
                        <div class="dropdown" ngbDropdown placement="bottom-right">
                            <a class="dropdown-toggle text-reset" href="javascript:void(0);" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                                <span class="fw-semibold">Report By:</span> <span class="text-muted">Monthly<i
                                        class="mdi mdi-chevron-down ms-1"></i></span>
                            </a>

                            <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                <a class="dropdown-item" href="javascript:void(0);">Yearly</a>
                                <a class="dropdown-item" href="javascript:void(0);">Monthly</a>
                                <a class="dropdown-item" href="javascript:void(0);">Weekly</a>
                                <a class="dropdown-item" href="javascript:void(0);">Today</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <app-channels [users]="channels"></app-channels>
                </div>
                <!-- end table responsive -->
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>
<!-- end  -->